@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    width: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;
    
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

h1,
h2{
    margin-bottom: 1.5rem;
}


.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.navbar{
    background-color: #3474e6;
    color: #fff;
    padding: 1.5rem 0;
}

.navbar .logo{
    font-size: 3rem;
    font-weight: bold;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar a:hover{
    color: lightblue;
}

.navigation ul{
    display: flex;
    
}

.navigation ul{
    gap: 2rem;
}

.header{
    background-color: #0151cc;
    color: #fff;
}

.header h1{
    line-height: 1;
    font-size: 3.4rem;
    font-weight: bold;

}

.header img{
    width: 100%;
    max-width: 400px;
}

.header .container{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    
}

.boxes .container{
    display: flex;
    justify-content: space-between;
}

.box{
    flex: 1;
    background-color: #0a51cc;
    color: white;
    border-radius: 1rem;
    margin: 2rem 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 1.5rem 2rem;
}

.box i{
    margin-right: 1rem;
}

.hamburger{
    display: none;
}

.bars{
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width: 768px) {
    .logo{
        z-index: 100;
    }

    .header .container{
       display: block;
       text-align: center;
    }

    .boxes .container{
        flex-direction: column;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bars:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bars:nth-child(1){
        transform: translateY(0.8rem) rotate(45deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .navigation{
        z-index: 1;
        position: fixed;
        left: 0;
        top: -100%;
        gap: 0;
        background-color: #3474e6;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navigation ul{
        flex-direction: column;
    }

    .navigation li{
        margin: 1.6rem;
    }

    .navigation.active{
        top: 7rem;
    }
    


}

